name: Release

on:
  release:
    types: [released]

jobs:
  deploy:

    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/quikui

    # NOTE: this permission is mandatory for trusted publishing
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: uv build
    - uses: pypa/gh-action-pypi-publish@release/v1
